<div class="auth-wrapper">
    <div class="auth-content text-center">
      <img src="./assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
      <div class="card borderless">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
              <h4 class="mb-3 f-w-400">Inicio de sesión</h4>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                  <!-- <input type="email" class="form-control" placeholder="Correo electrónico"> -->
                  <input #username type="email" class="form-control" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="correo@electronico.com" formControlName="user" autocomplete="username" required />
                </div>
                <div class="input-group mb-4">
                  <!-- <input type="password" class="form-control" placeholder="Contraseña"> -->
                  <input #password type="password" class="form-control" placeholder="Contraseña" formControlName="password" autocomplete="current-password" required/>
                </div>
                <button class="btn btn-block btn-primary mb-4" [disabled]="!loginForm.valid" type="submit">Ingresar</button>
              </form>
              <p class="mb-2 text-muted">Olvidó su contraseña? <span class="link" (click)="resetPassword()">Resetear</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  