<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Filtro">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="filter.nombre" (keyup.enter)="getStudents()">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="lastname">Apellido</label>
            <input type="text" class="form-control" id="lastname" [(ngModel)]="filter.apellido" (keyup.enter)="getStudents()">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="email">Tipo de curso <span style="color: red">*</span></label>
            <select class="form-control" [(ngModel)]="filter.idtipocurso" id="exampleFormControlSelect1">
              <option [ngValue]="-1">Todos</option>
              <option [ngValue]="typeCourse.id" *ngFor="let typeCourse of typeCourseList">
                {{typeCourse.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12" style="text-align: right;">
          <button type="button" class="btn btn-primary" style="margin-top: 5px;" (click)="getStudents()">Buscar</button>
          <button type="button" class="btn btn-success" (click)="newStudent()"
            style="margin-top: 5px; margin-left: 10px;">Nuevo</button>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Alumnos">
      <div class="table-responsive">
        <table *ngIf="studentList.length > 0" datatable class="table table-hover" [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Tipo de curso</th>
              <th>Estatus</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentList">
              <td>{{student.nombres}}</td>
              <td>{{student.apellidos}}</td>
              <td>{{student.tipocurso.nombre}}</td>
              <td>{{student.activo ? 'Activo' : 'Inactivo'}}</td>
              <td><button type="button" class="btn btn-icon btn-secondary" (click)="viewProfile(student)"
                  style="margin-top: 5px; margin-left: 10px;" ngbTooltip="Ver perfil"><i
                    class="feather icon-eye"></i></button>
                <button type="button" class="btn btn-icon btn-primary" (click)="editStudent(student)"
                  style="margin-top: 5px; margin-left: 10px;"><i class="feather icon-edit"
                    ngbTooltip="Editar"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>