<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Filtro">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="filter.nombre"
                            (keyup.enter)="getRoles()">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="status">Estatus</label>
                        <select class="form-control" [(ngModel)]="filter.activo">
                            <option value="-1">Todos</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                </div>
                <div class="col-md-12" style="text-align: right;">
                    <button type="button" class="btn btn-primary" style="margin-top: 5px;"
                        (click)="getRoles()">Buscar</button>
                    <button type="button" class="btn btn-success" (click)="showModal(modalDefault)"
                        style="margin-top: 5px; margin-left: 10px;">Nuevo</button>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card cardTitle="Roles">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Permisos</th>
                            <th>Estatus</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of roleList">
                            <td>{{role.nombre}}</td>
                            <td>{{role.descripcion}}</td>
                            <td>
                                <span class="badge m-r-5 badge-pill badge-primary"
                                    *ngFor="let permisoxrole of role.permisosxrole">
                                    {{permisoxrole.permiso.nombre}}
                                </span>
                            </td>
                            <td>{{role.activo ? 'Activo' : 'Inactivo'}}</td>
                            <td><button type="button" class="btn btn-icon btn-primary"
                                    (click)="editModal(modalDefault, role)"
                                    style="margin-top: 5px; margin-left: 10px;"><i
                                        class="feather icon-edit"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>

<app-ui-modal #modalDefault>
    <div class="app-modal-header">
        <h5 class="modal-title">{{tittleModal}}</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Nombre <span style="color: red">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="role.nombre" id="name">
                    <small style="color: red" *ngIf="save && role.nombre == ''">* El nombre es requerido</small>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Descripción</label>
                    <input type="text" class="form-control" [(ngModel)]="role.descripcion" id="description">
                </div>
            </div>
            <div class="col-md-12" *ngIf="role.id > 0">
                <div class="form-group">
                    <label for="status">Estatus</label>
                    <select class="form-control" [(ngModel)]="role.activo">
                        <option [value]="true">Activo</option>
                        <option [value]="false">Inactivo</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <h5>Permisos</h5>
                <hr>
            </div>
            <div class="col-md-3" *ngFor="let permission of permissionsList">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" [(ngModel)]="permission.checked">
                    <label class="form-check-label" for="gridCheck1">{{permission.nombre}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <small style="color: red">(*) Campos obligatorios</small>
            </div>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveRole(modalDefault)">Guardar</button>
    </div>
</app-ui-modal>