<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Filtro">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
         
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="card">Cédula</label>
            <input type="text" class="form-control" id="card">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="status">Estatus</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option value="-1">Todos</option>
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary" style="margin-top: 30px;">Exportar</button>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <!-- <app-card cardTitle="Usuarios">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo electrónico</th>
            <th>Cédula</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>1212121</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>12334434</td>
          </tr>
          <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>1212122</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card> -->
  </div>
</div>
