<div class="auth-wrapper">
    <div class="auth-content text-center">
      <img src="./assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
      <div class="card borderless">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
              <h4 class="mb-3 f-w-400">Resetar Contraseña</h4>
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Correo electrónico">
              </div>
              <button class="btn btn-block btn-primary mb-4">Entrar</button>
              <p class="mb-2 text-muted"><a class="link" (click)="signin()">Inicia sesión</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  