<div class="auth-wrapper">
    <div class="auth-content text-center">
      <img src="./assets/images/auth/auth-logo.png" alt="" class="img-fluid mb-4">
      <div class="card borderless">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
              <h4 class="mb-3 f-w-400">Resetar Contraseña</h4>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                  <input #username type="email" [disabled]="resulvalid" class="form-control" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="correo@electronico.com" formControlName="user" autocomplete="username" required />
                </div>
                <div class="input-group mb-3" *ngIf="resulvalid">
                  <input #code type="text" class="form-control" placeholder="Código" formControlName="code" autocomplete="username" required />
                </div>
                <div class="input-group mb-3" *ngIf="resulvalidcode">
                  <input #password type="password" class="form-control" placeholder="Nueva contraseña" formControlName="password" autocomplete="password" required />
                </div>
                <div class="input-group mb-3" *ngIf="resulvalidcode">
                  <input #repeatPassword type="password" class="form-control" placeholder="Repetir contraseña" formControlName="repeatPassword" autocomplete="repeatPassword" required />
                </div>
                <button class="btn btn-block btn-primary mb-4" [disabled]="!resetPasswordForm.valid" type="submit">Validar</button>
                <p class="mb-2 text-muted"><a class="link" (click)="signin()">Inicia sesión</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  